<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main th:object="${order}" style="margin-bottom: 30px">
		<div class="card" style="margin-bottom: 20px">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-4">
						<label>Order Number:</label> <input type="text"
							class="form-control" th:field="*{id}" readonly="readonly">
					</div>
					<div class="col-sm-4">
						<label>Purchaser:</label> <input type="text" class="form-control"
							th:field="*{account.username}" readonly="readonly">
					</div>
					<div class="col-sm-4">
						<label for="email">Order Date:</label> <input type="text"
							class="form-control" th:field="*{createDate}" readonly="readonly">
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="email">Shipping Address:</label>
						<textarea class="form-control" rows="3" th:field="*{address}"
							readonly="readonly"></textarea>
					</div>

				</div>
			</div>

		</div>
		<aside class="col-lg-12">
			<div class="card">
				<div class="table-responsive">
					<table class="table table-borderless table-shopping-cart">
						<thead class="text-muted">
							<tr class="small text-uppercase">
								<th scope="col">Sản phẩm</th>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col" >Giá</th>
								<th scope="col" >Số lượng</th>
								<th scope="col" >Tổng giá</th>
								<th scope="col" class="text-right d-none d-md-block"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="detail: *{orderDetails}" th:object="${detail}">
								<td>
									<figure class="itemside align-items-center">
										<div class="aside">
											<img th:src="@{|/assets/images/*{product.image}|}"
												class="img-sm">
										</div>
									</figure>
								</td>
								<td>
									<div class="price-wrap">
										<var class="name">[[*{product.name}]]</var>
									</div>
								</td>
								<td>
									<div class="price-wrap">
										<var class="price">$[[*{#numbers.formatDecimal(price, 0,
											'COMMA', 2, 'POINT')}]]</var>
									</div>
								</td>
								<td>
									<div class="price-wrap">
										<var class="price">[[*{quantity}]]</var>
									</div>
								</td>
								<td>
									<div class="price-wrap">
										<var class="price">$[[*{#numbers.formatDecimal(price*quantity,
											0, 'COMMA', 2, 'POINT')}]]</var>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</aside>
	</main>
</body>
</html>